::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f313e;

  border-radius: 20px;
}
.ocean ::-webkit-scrollbar-thumb {
  background: #192253;
}

/* #chart-container > div {
  filter: contrast(110%) saturate(250%) brightness(120%);
} */
