::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e5389;
  border-radius: 20px;
}

/* #chart-container > div {
  filter: contrast(110%) saturate(250%) brightness(120%);
} */
