::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f313e;

  border-radius: 20px;
}
.ocean ::-webkit-scrollbar-thumb {
  background: #192253;
}

.ocean #chart-container > div {
  filter: contrast(110%) saturate(250%) brightness(120%);
}

.react-grid-placeholder {
  transition: all 200ms;
  background-color: #ffffff40;
  border-radius: 10px;
  z-index: -1;
}
.ocean .react-grid-placeholder {
  background-color: #00d0fe60;
}
